.pry_title {
    text-align: center;
}

.pry_card {
   /* background-color: #fff; */
   vertical-align: middle;
   /* margin: auto; */
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
   display: flex;
   line-height: 90%;
   max-width: 200px;
   max-height: 50px;
   margin: 5px;
   overflow: hidden;
   /* width: 300px; */
  }

  .card-right {
    /* padding: 5px; */
    /* margin: auto; */
    padding-top: 10px;
    padding-left: 10px;
    /* position: relative; */
    width: 200px;
  }
  
  .card-left {
    background-color: #FFDB00;
    color: #fff;
    padding: 5px;
    padding-top: 10px;
    width: 50px;
  }

  .card-left a {
    color: #fff;
    display: inline-block;
    font-size: 5px;
    opacity: 0.6;
    margin-top: 5px;
    text-decoration: none;
  }

  