$blue: #375a7f;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red:#e74c3c;
$orange:#fd7e14;
$yellow:#f39c12;
$green:#00bc8c;
$teal:#20c997;
$cyan:#3498db;
$black:#000;
$white:#fff;
$gray:#888;
$bs-gray-dark:#303030;
$bs-gray-100:#f8f9fa;
$bs-gray-200:#ebebeb;
$bs-gray-300:#dee2e6;
$bs-gray-400:#ced4da;
$bs-gray-500:#adb5bd;
$bs-gray-600:#888;
$bs-gray-700:#444;
$bs-gray-800:#303030;
$bs-gray-900:#222;
$primary:#375a7f;
$secondary:#444;
$success:#00bc8c;
$info:#3498db;
$warning:#f39c12;
$danger:#e74c3c;
$light:#adb5bd;
$dark:#303030;


@import 'daily_prayer';
@import 'owl.carousel.min';
@import 'owl.theme.default.min';
@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min');
@import 'daily_prayer';

@import './scss/bootstrap';

@import 'style';

$link-color:#00bc8c;
$link-hover-color:#009670;
$code-color:#e83e8c;
$highlight-bg:#fdebd0;