$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #303483;
$secondary: #ffd400;
$success: #4a8f3a;
$info: #2a7998;
$warning: #ff9d03;
$danger: #ca2d2a;
$light: #d9d9d9;
$dark: #202020;

@import 'daily_prayer';
@import 'owl.carousel.min';
@import 'owl.theme.default.min';
@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min');
@import 'daily_prayer';

@import './scss/bootstrap';

@import 'style_retro';