{% load static %}
<ul class="list-group" id="posts_list"
    
    hx-target="closest li"
    hx-swap="outerHTML swap:1s"
    >
    {% for post in posts %}
    <li class="list-group-item" id="post{{post.id}}">
        <div class="row g-0">
            <div class="col-md-3">
                {% if post.image %}
                    <img src="{{post.image.url}}" class="img-fluid rounded-start">
                {% else %}
                    <img src="{% static 'images/default_image.jpg' %}" class="img-fluid rounded-start">
                {% endif %}
            </div>
            <div class="col-md-7" style="max-height: 100%;">
                <div class="card-body" >
                    <h5 class="card-title"><a href="{% url 'posts:post_view' post.id %}"> {{post.title}} </a></h5>
                    <p class="card-text">{{post.content|truncatewords:30}}</p>
                    <div class="d-flex justify-content-between">
                        <div class="card-text align-self-end">{{post.published_date}} </div>
                        <div class="align-self-end">{% if post.updated_date %}<small class="text-muted">Last updated {{post.updated_date}}</small>{% endif %}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" id="publishButton{{post.id}}">
                
                {% if post.published %}
                    <button class="btn btn-warning my-2"
                    hx-post="{% url 'posts:post_toggle' post.id %}"
                    hx-target="#publishButton{{post.id}}"
                    hx-swap="outerHTML">
                    <i class="fa-solid fa-eye"></i> Unpublish</button>
                {% else %}
                    <button class="btn btn-success my-2"
                    hx-post="{% url 'posts:post_toggle' post.id %}"
                    hx-target="#publishButton{{post.id}}"
                    hx-swap="outerHTML">
                    <i class="fa-solid fa-eye-slash"></i> Publish</button>
                {% endif %}
            
                
                <br>
                <button class="btn btn-danger my-2"
                    hx-delete="{% url 'posts:delete_post' post.id %}"
                    hx-target="#posts_list">
                    <i class="fa-solid fa-trash-can"></i> Delete
                </button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>