{% load static %}
<div>
  <div>
    <small>{{today}}</small>
    <img src="https://img.icons8.com/color/24/000000/kaaba.png" />
    <small>{{hijri}}</small>
  </div>

  <div class="pry_card">

    <div class="card-left">
      <img src="{% static 'images/sunrise.png' %}" width="30px" alt="Fajr">
    </div>
    <div class="card-right">
      <strong>Fajr: <span id="T_Fajr">{{fajr}}</span></strong>
      <p>Jamaah: {{fajr_j}} <img src="{% static 'images/sunrise_x16.png' %}" alt=""><small> {{sunrise}}</small></p>
    </div>

  </div>

  <div class="pry_card">

    <div class="card-left" style="background-color: #A9F2E5;">
      <img src="{% static 'images/sun.png' %}" width="30px" alt="Dhuhr">

    </div>
    <div class="card-right">
      <strong>Dhuhr: {{dhuhr}}</strong>
      <p>Jamaah: {{dhuhr_j}} </p>
    </div>

  </div>

  <div class="pry_card">
    <div class="card-left" style="background-color: #EE9666;">
      <img src="{% static 'images/sunset.png' %}" width="30px" alt="Asr">
    </div>
    <div class="card-right">
      <strong>Asr: {{asr}}</strong>
      <p>Jamaah: {{asr_j}}</p>
    </div>

  </div>

  <div class="pry_card">

    <div class="card-left" style="background-color: #168d78;">
      <img src="{% static 'images/moonrise.png' %}" width="30px" alt="Maghrib">
    </div>
    <div class="card-right">
      <strong>Maghrib: {{maghrib}} </strong>
      <p>Jamaah: {{maghrib_j}}</p>
    </div>

  </div>

  <div class="pry_card">

    <div class="card-left" style="background-color: #8d8d8d;">
      <img src="{% static 'images/night.png' %}" width="30px" alt="Isha">
    </div>
    <div class="card-right py-auto">
      <strong>Isha: {{isha}}</strong>
      <p>Jamaah: {{isha_j}}</p>
    </div>
  </div>

</div>