{% load static %}
<li class="list-group-item" id="post{{post.id}}">
    <div class="row g-0">
        <div class="col-md-3">
            {% if post.image %}
                <img src="{{post.image.url}}" class="img-fluid rounded-start">
            {% else %}
                <img src="{% static 'images/default_image.jpg' %}" class="img-fluid rounded-start">
            {% endif %}
        </div>
        <div class="col-md-7" style="max-height: 100%;">
            <div class="card-body" >
                <h5 class="card-title mx-2"><a href="{% url 'posts:post_view' post.id %}"> {{post.title}} </a></h5>
                <p class="card-text mx-2">{{post.content|truncatewords:30}}</p>
                <div class="d-flex justify-content-between">
                    <div class="card-text align-self-end ms-2">{{post.published_date}} </div>
                    <div class="align-self-end me-2">{% if post.updated_date %}<small class="text-muted">Last updated {{post.updated_date}}</small>{% endif %}</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div id="publishButton{{post.id}}">
                {% if post.published %}
                    <button class="btn btn-warning my-2"
                    hx-post="{% url 'posts:post_toggle' post.id %}"
                    hx-target="#post{{post.id}}"
                    >
                    <i class="fa-solid fa-eye"></i> Unpublish</button>
                {% else %}
                    <button class="btn btn-success my-2"
                    hx-post="{% url 'posts:post_toggle' post.id %}"
                    hx-target="#post{{post.id}}"
                    >
                    <i class="fa-solid fa-eye-slash"></i> Publish</button>
                {% endif %}
            </div>
            <div>
                <br>
                <button class="btn btn-danger my-2"
                    hx-delete="{% url 'posts:delete_post' post.id %}"
                    hx-confirm="Are you sure you want to delete this post?"
                    hx-target="#posts_list"
                    >
                    <i class="fa-solid fa-trash-can"></i> Delete
                </button>
            </div>
        </div>
        
        
    </div>
</li>