{% load static %}
{% load sass_tags %}

{% load masjid_tags %}
{% get_masjid as masjid_base %}
<html>
    <head>
        <!-- CSS only -->
        {% if masjid_base.theme_choice == "default" %}
          <link href="{% sass_src 'theme.scss' %}" rel="stylesheet" type="text/css" />
        {% elif masjid_base.theme_choice == "dark" %}
          <link href="{% sass_src 'theme_darkly.scss' %}" rel="stylesheet" type="text/css" />
        {% elif masjid_base.theme_choice == "yeti" %}
          <link href="{% sass_src 'theme_yeti.scss' %}" rel="stylesheet" type="text/css" />
        {% elif masjid_base.theme_choice == "vapor" %}
          <link href="{% sass_src 'theme_vapor.scss' %}" rel="stylesheet" type="text/css" />
        {% elif masjid_base.theme_choice == "retro" %}
          <link href="{% sass_src 'theme_retro.scss' %}" rel="stylesheet" type="text/css" />
        {% else %}
          <link href="{% sass_src 'theme.scss' %}" rel="stylesheet" type="text/css" />
        {% endif %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    </head>


    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="{% url 'posts:home' %}">
                  <img src="{{masjid_base.masjid_Logo.url}}" alt="" width="50" height="50">
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'posts:home' %}">{{masjid_base.masjid_name}} Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'posts:month_view'%}">Monthly Prayer Times</a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'masjidConfig:about' %}">About us</a>
                  </li>
                </ul>
                <div class="d-flex justify-content-center">
                  {% include 'social_media_icons.html' %}
                </div>
                {% if user.is_authenticated %}
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle mx-1" data-bs-toggle="dropdown" aria-expanded="false">Admin</button>
                  <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="{% url 'posts:post_form' %}"><i class="fa-solid fa-plus"></i> Add Post</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'masjidConfig:edit_profile' %}">Edit Website Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'posts:posts_admin' %}">Admin Posts</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="{% url 'logout' %}" class="btn btn-danger btn-sm ml-lg-4">Logout</a></li>
                  </ul>
                </div>
                {% else %}
                <form class="d-flex">
                  <a href="{% url 'login' %}" class="btn btn-primary mx-1">Login</a>
                </form>
                {% endif %}
              </div>
            </div>
          </nav>


          <div class="container">{% block content %} {% endblock content %}</div>

          

          <div class="b-example-divider"></div>


          <div class="bg-light">
            {% include 'footer.html' %}
          </div>
    </body>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</html>