{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="{{masjid.masjid_Logo.url}}" alt="" width="80" height="80">
  <h1 class="md:text-lg lg:text-3xl font-bold">About {{masjid.masjid_Name|title}}</h1>
</div>

<div class="container">
  <p>{{masjid.about}}</p>
</div>

<div class="container">
  <p class="text-lg">Contact Us</p>

  <div class="row">
    <!-- Thanks to https://www.embedgooglemap.net/ -->
    <div class="col-md-7 maps" >
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="100%" 
          height="500" 
          id="gmap_canvas" 
          src="https://maps.google.com/maps?q={{masjid.address1}},%20{{masjid.city}}&t=&z=13&ie=UTF8&iwloc=&output=embed" 
          frameborder="0" 
          scrolling="no" 
          marginheight="0" 
          marginwidth="0"></iframe>
        </div>
      </div>
    </div>
  </div> 

  <div class="grid grid-cols-2 gap-4 mt-4">
    
    <div class="card w-full bg-base-300 card-xl shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Address</h2>
        <div role="alert" class="alert alert-primary bg-base-100 ">
          <span>

            {% if masjid.masjid_Name %}<p class="font-bold">{{ masjid.masjid_Name }}</p>{% endif %}
            {% if masjid.address1 %}<p>{{ masjid.address1 }}</p>{% endif %}
            {% if masjid.town %}<p>{{ masjid.town }}</p>{% endif %}
            {% if masjid.city %}<p>{{ masjid.city }}</p>{% endif %}
            {% if masjid.postcode %}<p>{{ masjid.postcode }}</p>{% endif %}
            {% if masjid.country %}<p>{{ masjid.country }}</p>{% endif %}

          </span>
        </div>
        
        {% if masjid.mobile %}<p><i class="fa fa-phone pr-2"></i>{{ masjid.mobile }}</p>{% endif %}
        {% if masjid.email %}<p><i class="fa fa-envelope pr-2"></i>{{ masjid.email }}</p>{% endif %}
        {% if masjid.what3words %}<p><img class="inline-block pr-2" width="30" src="{% static 'images/w3w.png' %}">
          <a href="https://what3words.com/{{masjid.what3words}}" >
            {{ masjid.what3words }}</a></p>
        {% endif %}
      </div>
      
    </div>

    <ul class="list bg-base-200 rounded-box shadow-sm w-full p-8">
      <li class="tracking-wide"><h2 class="card-title">Other Contact Details</h2></li>
      
      {% if masjid.facebook %}
      <a href="https://facebook.com/{{masjid.facebook}}">
      <li class="list-row">
        <div><i class="fa-brands fa-facebook fa-2xl text-accent"></i></div>
        <div>
          <div>{{ masjid.facebook }}</div>
        </div>
      </li>
      </a>
      {% endif %}

      {% if masjid.twitter %}
      <a href="https://twitter.com/{{masjid.twitter}}">
      <li class="list-row">
        <div><i class="fa-brands fa-twitter fa-2xl text-accent"></i></div>
        <div>
          <div>{{ masjid.twitter }}</div>
        </div>
      </li>
      {% endif %}
      </a>
      <a href="https://instagram.com/{{masjid.instagram}}">
      {% if masjid.instagram %}
      <li class="list-row">
        <div><i class="fa-brands fa-instagram fa-2xl text-accent"></i></div>
        <div>
          <div>{{ masjid.instagram }}</div>
        </div>
      </li>
      {% endif %}
      </a>

      <a href="https://youtube.com/user/{{masjid.youtube}}">
      {% if masjid.youtube %}
      <li class="list-row">
        <div><i class="fa-brands fa-youtube fa-2xl text-accent"></i></div>
        <div>
          <div>{{ masjid.youtube }}</div>
        </div>
      </li>
      {% endif %}
      </a>

      <a href="https://t.me/{{masjid.telegram}}">
      {% if masjid.telegram %}
      <li class="list-row">
        <div><i class="fa-brands fa-telegram fa-2xl text-accent"></i></div>
        <div>
          <div>{{ masjid.telegram }}</div>
        </div>
      </li>
      {% endif %}
      </a>

      <a href="https://www.tiktok.com/@{{masjid.tiktok}}">
      {% if masjid.tiktok %}
      <li class="list-row">
        <div><i class="fa-brands fa-tiktok fa-2xl text-accent"></i></div>
        <div>
          <div>{{ masjid.tiktok }}</div>
        </div>
      </li>
      {% endif %}
      </a>
      
    </ul>
    
  
  </div>
    
</div>
<br>


  
<script>
  var map = function (elem, opts) {
  var self = this,
      $map = elem || $(".map-wrapper"),
      opt = {
        lat: $map.data('lat'),
        lng: $map.data('lng'),
        zoom: 15,
        bp: 640,
        ratio: 0.33
      };
  $.extend(opt, opts);
  
  self.buildSrc = function () {
    self.static = 'https://maps.google.com/maps/api/staticmap'+
      '?center='+opt.lat+','+opt.lng+
      '&zoom='+opt.zoom+
      '&markers='+opt.lat+','+opt.lng+
      '&size='+opt.bp+'x'+Math.round(opt.bp*opt.ratio)+
      '&sensor=true';    
    self.embed = 'https://maps.google.com/maps?'+
      'f=q'+
      '&source=s_q'+
      '&hl=en'+
      '&geocode='+
      '&q='+opt.lat+','+opt.lng+
      '&aq=0'+
      '&sll='+opt.lat+','+opt.lng+
      '&sspn=0.741588,2.037964'+
      '&ie=UTF8'+
      '&hq='+
      '&hnear=London+WC1N+3QA,+United+Kingdom&amp;t=m'+
      '&z='+opt.zoom+
      '&ll='+opt.lat+','+opt.lng+
      '&output=embed';
  }
  
  self.buildStatic = function () {
    if (!$map.find('.map-static').length)
      $map.append('<a href="'+self.embed.substring(0, self.embed.lastIndexOf('&'))+'"><img class="map map-static" src="'+self.static+'" alt="Map of '+opt.lat+','+opt.lng+'"></a>');
  }
  
  self.buildEmbed = function () {
    if (!$map.find('.map-embed').length)
      $map.append('<iframe class="map map-embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="'+self.embed+'"></iframe>');
  }
  
  self.buildMap = function () {
    self.buildSrc();
    if (document.body.clientWidth > opt.bp)
      self.buildEmbed();
    else
      self.buildStatic();
  }
  
  self.update = function (opts) {
    $.extend(opt, opts);
    self.buildSrc();
    $map.find('.map-embed').attr('src', self.embed);
    $map.find('.map-static').attr('src', self.static);
    $map.css('padding-top', (100*opt.ratio)+'%');
  }
  
  $(window).resize(function() {
    self.buildMap();
    // google.maps.event.trigger(map, "resize");
  });
  
  $map.css('padding-top', (100*opt.ratio)+'%');
}

/* Usage */

var someMap = new map($('.map-wrapper'), {ratio: 0.5});
someMap.buildMap();

setTimeout(function(){
  someMap.update({zoom: 12});
}, 5000);

</script>
  {% endblock content %}