{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="{{masjid.masjid_Logo.url}}" alt="" width="80" height="80">
  <h1 class="display-5 fw-bold">About {{masjid.masjid_Name|title}}</h1>
</div>

<div class="container">
  <p>{{masjid.about}}</p>
</div>

<div class="container-sm">
  <h2>Contact Us</h2>

  <div class="row">
    <!-- Thanks to https://www.embedgooglemap.net/ -->
    <div class="col-md-7 maps" >
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="100%" 
          height="500" 
          id="gmap_canvas" 
          src="https://maps.google.com/maps?q={{masjid.address1}},%20{{masjid.city}}&t=&z=13&ie=UTF8&iwloc=&output=embed" 
          frameborder="0" 
          scrolling="no" 
          marginheight="0" 
          marginwidth="0"></iframe>
        </div>
      </div>
    </div>

   <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Address</h5>
        <p class="card-text">
          {{masjid.masjid_Name}}
          {% if masjid.address1 %}<br>{{masjid.address1}}{% endif %}
          {% if masjid.town %}<br>{{masjid.town}}{% endif %}
          {% if masjid.city %}<br>{{masjid.city}}{% endif %}
          {% if masjid.postcode %}<br>{{masjid.postcode}}{% endif %}
          {% if masjid.country %}<br>{{masjid.country}}{% endif %}
          
        </p>
        {% if masjid.landline %}<br><i class="fa-solid fa-phone"></i> {{masjid.landline}}{% endif %}
        {% if masjid.mobile %}<br><i class="fa-solid fa-mobile-screen-button"></i> {{masjid.mobile}}{% endif %}
        {% if masjid.email %}<br><i class="fa-solid fa-at"></i> <a href="mailto:{{masjid.email}}">{{masjid.email}}</a>{% endif %}
        {% if masjid.what3words %}<br><img src="{% static 'images/w3w.png' %}" height="48px"><a href="https://what3words.com/{{masjid.what3words}}">{{masjid.what3words}}</a>{% endif %}
        
      </div>
    </div>
    <br>
    {% if masjid.imam %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Masjid Imam</h5>
          <p class="card-text">
            <i class="fa-solid fa-id-card"></i> {{masjid.imam}}
          </p>
        </div>
      </div>
    {% endif %}
  </div>
  </div>

  
    
    
</div>
<br>


  
<script>
  var map = function (elem, opts) {
  var self = this,
      $map = elem || $(".map-wrapper"),
      opt = {
        lat: $map.data('lat'),
        lng: $map.data('lng'),
        zoom: 15,
        bp: 640,
        ratio: 0.33
      };
  $.extend(opt, opts);
  
  self.buildSrc = function () {
    self.static = 'https://maps.google.com/maps/api/staticmap'+
      '?center='+opt.lat+','+opt.lng+
      '&zoom='+opt.zoom+
      '&markers='+opt.lat+','+opt.lng+
      '&size='+opt.bp+'x'+Math.round(opt.bp*opt.ratio)+
      '&sensor=true';    
    self.embed = 'https://maps.google.com/maps?'+
      'f=q'+
      '&source=s_q'+
      '&hl=en'+
      '&geocode='+
      '&q='+opt.lat+','+opt.lng+
      '&aq=0'+
      '&sll='+opt.lat+','+opt.lng+
      '&sspn=0.741588,2.037964'+
      '&ie=UTF8'+
      '&hq='+
      '&hnear=London+WC1N+3QA,+United+Kingdom&amp;t=m'+
      '&z='+opt.zoom+
      '&ll='+opt.lat+','+opt.lng+
      '&output=embed';
  }
  
  self.buildStatic = function () {
    if (!$map.find('.map-static').length)
      $map.append('<a href="'+self.embed.substring(0, self.embed.lastIndexOf('&'))+'"><img class="map map-static" src="'+self.static+'" alt="Map of '+opt.lat+','+opt.lng+'"></a>');
  }
  
  self.buildEmbed = function () {
    if (!$map.find('.map-embed').length)
      $map.append('<iframe class="map map-embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="'+self.embed+'"></iframe>');
  }
  
  self.buildMap = function () {
    self.buildSrc();
    if (document.body.clientWidth > opt.bp)
      self.buildEmbed();
    else
      self.buildStatic();
  }
  
  self.update = function (opts) {
    $.extend(opt, opts);
    self.buildSrc();
    $map.find('.map-embed').attr('src', self.embed);
    $map.find('.map-static').attr('src', self.static);
    $map.css('padding-top', (100*opt.ratio)+'%');
  }
  
  $(window).resize(function() {
    self.buildMap();
    // google.maps.event.trigger(map, "resize");
  });
  
  $map.css('padding-top', (100*opt.ratio)+'%');
}

/* Usage */

var someMap = new map($('.map-wrapper'), {ratio: 0.5});
someMap.buildMap();

setTimeout(function(){
  someMap.update({zoom: 12});
}, 5000);

</script>
  {% endblock content %}