{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="{{masjid.masjid_Logo.url}}" alt="" width="80" height="80">
  <h1 class="display-5 fw-bold">{{masjid.masjid_Name|title}} Profile Edit Page</h1>
  
</div>

<div class="container">

    <div class="column is-half">
      <!-- Profile edit form -->
      <article class="message">
        
        <div class="message-body">

          
          <form class="" action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <div class="field">
              <label class="form-check-label">
                Click here to enter site into maintenance mode
              </label>
              <p class="control">
                {{form.maintenance_mode|as_crispy_field}}
            </p>
            </div> -->
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Profile Information
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="field">
                      <p class="control">
                        {{ form.masjid_Name |as_crispy_field}}
                      </p>
                    </div>
                    <div class="field">
                      <img src="{{masjid.masjid_Logo.url}}" width="40px" alt="">
                      <p class="control">
                        {{ form.masjid_Logo |as_crispy_field}}
                      </p>
                    </div>
                    <h2>About Masjid</h2>
                    <div class="field">
                      <!-- <label class="form-label">About Masjid</label> -->
                      <p class="control">
                        {{ form.about |as_crispy_field}}
                      </p>
                    </div>
                    <div class="field">
                      <label class="form-label">First Line of Address</label>
                      <p class="control">
                        {{ form.address1 |as_crispy_field}}
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <div class="field">
                          <p class="control">
                            {{ form.town |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="field">
                          <p class="control">
                            {{ form.city |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="field">
                          <p class="control">
                            {{ form.country |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="field">
                          <p class="control">
                            <!-- <label class="form-label">Postal/Zip Code</label> -->
                              {{ form.postcode |as_crispy_field}}                      
                          </p>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="field">
                      <!-- <label class="form-label">what 3 words</label> -->
                      <p class="control">
                        {{ form.what3words |as_crispy_field}}
                      </p>
                    </div>
                    <div class="field">
                      <!-- <label class="form-label">Contact Name</label> -->
                      <p class="control">
                        {{ form.imam |as_crispy_field}}
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="field">
                          <!-- <label class="form-label">Landline</label> -->
                          <p class="control">
                            {{ form.landline |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="field">
                          <!-- <label class="form-label">Mobile Number</label> -->
                          <p class="control">
                            {{ form.mobile |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="field">
                          <!-- <label class="form-label">Email</label> -->
                          <p class="control">
                            {{ form.email |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                    </div>
                    
                    <hr>
    
                    <h2>Social Media</h2> 
    
                    <div class="field">
                      <label class="form-label">Facebook</label>
                      <p class="control">
                        {{ form.facebook |as_crispy_field}}
                      </p>
                    </div>
                    <div class="field">
                      <label class="form-label">Instagram</label>
                      <p class="control">
                        {{ form.instagram |as_crispy_field}}
                      </p>
                    </div>
                    <div class="field">
                      <label class="form-label">YouTube</label>
                      <p class="control">
                        {{ form.youtube |as_crispy_field}}
                      </p>
                    </div>
                    <div class="field">
                      <label class="form-label">Twitter</label>
                      <p class="control">
                        {{ form.twitter |as_crispy_field}}
                      </p>
                    </div>
                    <div class="field">
                      <label class="form-label">Telegram</label>
                      <p class="control">
                        {{ form.telegram |as_crispy_field}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Prayer Calculation Methods
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="row bg-warning">
                      <label>For help with calculation methods <a href="http://praytimes.org/wiki/Prayer_Times_Calculation" target="_blank">click here</a></label>
                      <div class="col-5">
                        <div class="field">
                          <!-- <label class="form-label">Prayer Calculation Method</label> -->
                          <p class="control">
                            {{ form.method |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="field">
                          <!-- <label class="form-label">Shafaq Calculation</label> -->
                          <p class="control">
                            {{ form.shafaq |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="field">
                          <!-- <label class="form-label">School</label> -->
                          <p class="control">
                            {{ form.school |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="row bg-light">
                      <label>To work out longitude & latitude <a href="https://www.latlong.net/" target="_blank">click here</a></label>
                      <div class="col-6">
                        <div class="field">
                          
                          <!-- <label class="form-label">Latitude</label> -->
                          <p class="control">
                            {{ form.latitude |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="field">
                          <!-- <label class="form-label">Longitude</label> -->
                          <p class="control">
                            {{ form.longitude |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="field">
                      <!-- <label class="form-label">Fajr Jamah</label> -->
                      <p class="control">
                        {{ form.fajr_jamaah_minutes |as_crispy_field}}
                      </p>
                    </div>
                    <div class="field">
                      <!-- <label class="form-label">Dhuhr Jamaah</label> -->
                      <p class="control">
                        {{ form.dhuhr_jamaah_minutes |as_crispy_field}}
                      </p>
                    </div>
                    <div class="field">
                      <!-- <label class="form-label">Asr Jamaah</label> -->
                      <p class="control">
                        {{ form.asr_jamaah_minutes |as_crispy_field}}
                      </p>
                    </div>
                    <div class="field">
                      <!-- <label class="form-label">Maghrib Jamaah</label> -->
                      <p class="control">
                        {{ form.maghrib_jamaah_minutes |as_crispy_field}}
                      </p>
                    </div>
                    <div class="field">
                      <!-- <label class="form-label">Isha Jamaah</label> -->
                      <p class="control">
                        {{ form.isha_jamaah_minutes |as_crispy_field}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Site Styling
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-6">
                        <div class="field">
                          <!-- <label class="form-label">Main Colour</label> -->
                          <p class="control">
                            {{ form.mainColour |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="field">
                          <!-- <label class="form-label">Accent Colour</label> -->
                          <p class="control">
                            {{ form.accentColour |as_crispy_field}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      {% if masjid.masjid_Photo %}
                        <img src="{{masjid.masjid_Photo.url}}" width="100px">
                      {% endif %}
                      <p class="control">
                        {{ form.masjid_Photo |as_crispy_field}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
            
            
            <!-- {{ form|crispy }} -->
           
            <input type="submit" value="Save Profile" class="btn btn-primary">
          </form>
          
        </div>
      </article>
  
    </div>
  
  </div>
  
  
  </div>
  
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
