{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="px-4 py-5 my-5 text-center">
  <!-- Logo -->
  <img class="mx-auto mb-4 w-20 h-20" src="{{ masjid_base.masjid_Logo.url }}" alt="Masjid Logo">
  
  <!-- Title -->
  <h1 class="text-3xl font-bold mb-4">{{ masjid_base.masjid_Name|title }} Monthly Prayer Times for {{ month }} {{ year }}</h1>
  
  <!-- Print Button -->
  <div class="mt-6">
    <a href="{% url 'posts:pdf' %}" target="_blank" class="btn btn-primary btn-lg gap-3">
      <i class="fa-solid fa-print"></i> Print
    </a>
  </div>
</div>

<!-- Table Section -->
<div id="mytable" class="overflow-x-auto"></div>

<script>
  var obj = JSON.parse('{{ d | escapejs }}');
  var mytable = '<table class="table w-full text-center"><thead><tr><th scope="col"></th>';
mytable += '<tr>';
  mytable += '<th scope="col" rowspan="2"><i class="fa-solid fa-calendar-days"></i></th>'; // Day
  mytable += '<th scope="col" colspan="2">Fajr</th>'; // Fajr
  mytable += '<th scope="col" rowspan="2">Sunrise</th>'; // Sunrise
  mytable += '<th scope="col" colspan="2">Dhuhr</th>'; // Dhuhr
  mytable += '<th scope="col" colspan="2">Asr</th>'; // Asr
  mytable += '<th scope="col" colspan="2">Maghrib</th>'; // Maghrib
  mytable += '<th scope="col" colspan="2">Isha</th>'; // Isha
  mytable += '</tr>';

  // Sub-Headings Row
  mytable += '<tr>';
  mytable += '<th scope="col">Azan</th>'; // Fajr Azan
  mytable += '<th scope="col">Jamaah</th>'; // Fajr Jamaah
  mytable += '<th scope="col">Azan</th>'; // Dhuhr Azan
  mytable += '<th scope="col">Jamaah</th>'; // Dhuhr Jamaah
  mytable += '<th scope="col">Azan</th>'; // Asr Azan
  mytable += '<th scope="col">Jamaah</th>'; // Asr Jamaah
  mytable += '<th scope="col">Azan</th>'; // Maghrib Azan
  mytable += '<th scope="col">Jamaah</th>'; // Maghrib Jamaah
  mytable += '<th scope="col">Azan</th>'; // Isha Azan
  mytable += '<th scope="col">Jamaah</th>'; // Isha Jamaah
  mytable += '</tr>';
  mytable += '</thead><tbody>'; 

  var days_in_the_month = Object.keys(obj).length;
  var today = new Date();
  var today_formatted = today.getDate().toString();
  var today_date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear();
  if (today_formatted.length < 2) { today_formatted = '0' + today_formatted; }
  var month_formatted = (today.getMonth() + 1).toString();
  if (month_formatted.length < 2) { month_formatted = '0' + month_formatted; }
  var today_date_formatted = today_formatted + '-' + month_formatted + '-' + today.getFullYear();

  var tmonth = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  var month = tmonth[today.getMonth()];
  var bugun = weekday[today.getDay()];

  let newday = '';

  for (var i = 0; i < days_in_the_month; i++) {
    let day = (i + 1).toString();
    if (day.length < 2) { day = '0' + day; }

    var gun = day + '-' + month_formatted + '-' + today.getFullYear();
    var fajr = obj[i]["fajr"];
    var fajr_j = obj[i]['fajr_j'];
    var sun = obj[i]['sunrise'];
    var dhu = obj[i]['dhuhr'];
    var dhu_j = obj[i]['dhuhr_j'];
    var asr = obj[i]['asr'];
    var asr_j = obj[i]['asr_j'];
    var mag = obj[i]['maghrib'];
    var mag_j = obj[i]['maghrib_j'];
    var ish = obj[i]['isha'];
    var ish_j = obj[i]['isha_j'];

    var each_day = new Date(gun);
    var today_weekday = weekday[each_day.getDay()];

    if (obj[i]["date"] == today_date_formatted) {
      newday = `<tr class="bg-primary text-primary-content"><td>${day}</td><td>${fajr}</td><td>${fajr_j}</td><td>${sun}</td><td>${dhu}</td><td>${dhu_j}</td><td>${asr}</td><td>${asr_j}</td><td>${mag}</td><td>${mag_j}</td><td>${ish}</td><td>${ish_j}</td></tr>`;
    } else if (obj[i]["weekday"] == 'Friday') {
      newday = `<tr class="bg-warning text-warning-content"><td>${day}</td><td>${fajr}</td><td>${fajr_j}</td><td>${sun}</td><td>${dhu}</td><td>${dhu_j}</td><td>${asr}</td><td>${asr_j}</td><td>${mag}</td><td>${mag_j}</td><td>${ish}</td><td>${ish_j}</td></tr>`;
    } else {
      newday = `<tr><td>${day}</td><td>${fajr}</td><td>${fajr_j}</td><td>${sun}</td><td>${dhu}</td><td>${dhu_j}</td><td>${asr}</td><td>${asr_j}</td><td>${mag}</td><td>${mag_j}</td><td>${ish}</td><td>${ish_j}</td></tr>`;
    }
    mytable += newday;
  }
  mytable += "</tbody></table>";
  document.getElementById('mytable').innerHTML = mytable;
</script>

<script>
  function printFunction() { 
    window.print(); 
  }
</script>

  {% endblock content %}