{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"> 
</script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<h1>Create Post Form</h1>
<br>

  <br><hr>
  
  <form action="{% url 'posts:post_edit' post.id %}" method="POST" enctype="multipart/form-data"> 
    {% csrf_token %}
    {{ form.media }}
    
    {{ form | crispy }}

    <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
  </form>

<br>
<br>
{% endblock %}